/containers/nginx
/containers/mysqldb
/containers/mariadb
/containers/pgadmin4
/containers/postgres
/containers/mongodb
/containers/rabbitmq
/containers/redis
/containers/redisinsight
/containers/wiremock

/containers/.env
/images/exported
db-samples/*
!db-samples/mongo-sample-dataset/script.sh
!db-samples/mysql-sample-data/mysql-import-script.sh
!db-samples/postgres-sample-data/postgres-import-script.sh
